{% extends "layout.html" %}


{% block head %}

{% endblock head %}

{% block body %}
<br>
<form action="/weather/Subscribe" method="post">
    <div class="form-row">

            <div class="form-group col-md-6">
                <input type="email" class="form-control" id="email" placeholder="Email Address" name="email" required>
            </div>


            <div class="form-group col-md-2">
                <input type="text" class="form-control" id="zipcode" placeholder="Zipcode" name="zipcode" required>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Subscribe</button>
            </div>
    </div>
</form>

{% endblock body %}