<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!---Custom CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="data:,">
    
    <title>Running Outfit</title>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/weather">Running Outfit</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active share-secret">
            <a class="nav-link" href="/weather/Unsubscribe">Unsubscribe<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>

      </div>
    </nav>

    {% block head %}{% endblock %}

  </head>
  <body>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <footer class="fixed-bottom text-muted" style="background-color:#F8F9FA;padding:20px 0px 15px 0px;">
        <p style="text-align: center; font-size: 12pt;">Author: Ken Schiano<br>
        <a href="mailto:ken.schiano@gmail.com">ken.schiano@gmail.com</a> | <a href="https://gitlab.com/w4itey/running-cloths-api">Source</a></p>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  </body>
</html>