{% extends "layout.html" %}

{% block body %}
<br>
<form action="/weather/Unsubscribe" method="post">
    <div class="form-row">

            <div class="form-group col-md-10">
                <input type="email" class="form-control" id="email" placeholder="Email Address" name="email" required>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Unsubscribe</button>
            </div>
    </div>
</form>
{% endblock body %}